<section id="login-register" class="login-or-register">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-sm-12">
        <div class="form-block text-center">
          <div class="logo">SignUp</div>
            <!-- Main Form -->
            <div class="login-form-1">
              <form #userForm="ngForm" id="login-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                  <div class="login-group">
                    <div class="form-group">
                      <label for="Name" class="sr-only">Name</label>
                      <input type="text" class="form-control" name="" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="Email" class="sr-only">Email</label>
                      <input type="email" class="form-control" name="" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="Phone" class="sr-only">Phone</label>
                      <input type="text" class="form-control" name="" placeholder="Phone">
                    </div>
                    <div class="form-group">
                      <label for="Phone" class="sr-only">I'm Intersted In </label>
                      <select class="custom-select form-control" id="sel1">
                        <option selected>I'm Intersted In </option>
                        <option *ngFor="let topic of topics">{{topic}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                          <input type="radio" class="form-check-input" name="timePerference" value="morning" checked>morning at (9Am - 12Pm)
                        </label>
                        <label class="radio-inline">
                          <input type="radio" class="form-check-input" name="timePerference" value="evening">evening at (9Pm - 12Am)
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                          <input type="checkbox" class="form-check-input" name="Promotion" checked>Send Me Promotion Offers
                        </label>
                    </div>
                  </div>
                  <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>  
                </div>
                <div class="etc-login-form">
                  <p>forgot your password? <a href="#">click here</a></p>
                  <p>new user? <a href="#">create new account</a></p>
                </div>
              </form>
            </div>
            <!-- end:Main Form -->
          </div>
      </div>
    </div>
  </div>
</section>